In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys

In [46]:
df = pd.read_csv('/Users/victor/code/Arizona3000/metro_seoul/raw_data/crowd2020-2023.csv')

/var/folders/hk/msc7vpvd23n4fn3ktyxcpm2w0000gn/T/ipykernel_31836/1780909122.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/victor/code/Arizona3000/metro_seoul/raw_data/crowd2020-2023.csv')

In [47]:
from data import get_data_frequency

In [50]:
get_data_frequency(df, '2023-04-01')

/Users/victor/code/Arizona3000/metro_seoul/metro_app/ml_logic/preprocess.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'])
/Users/victor/code/Arizona3000/metro_seoul/metro_app/ml_logic/preprocess.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['line'] = df['line'].astype('int')

,day,line,station_number,station_name,01,02,03,04,05,06,...,15,16,17,18,19,20,21,22,23,24
0,Friday,1,150,Seoul Station,0.0,0.0,0.0,0.0,660.230769,2436.615385,...,6865.153846,7878.923077,10919.000000,13399.538462,7540.923077,5127.923077,5112.615385,3889.769231,1876.615385,0.0
1,Friday,1,151,City Hall,0.0,0.0,0.0,0.0,259.384615,1012.076923,...,3181.769231,3457.461538,4862.384615,7711.615385,2823.538462,2162.615385,2087.230769,1547.538462,641.769231,0.0
2,Friday,1,152,Jonggak,0.0,0.0,0.0,0.0,351.307692,1238.230769,...,3945.153846,4699.076923,8103.538462,10977.615385,4672.384615,3200.769231,3472.538462,2957.384615,1654.076923,0.0
3,Friday,1,153,Jongno 3(sam)ga,0.0,0.0,0.0,0.0,278.538462,581.769231,...,4031.923077,4171.692308,4903.076923,5856.769231,3309.923077,2399.846154,2544.000000,2234.615385,1239.307692,0.0
4,Friday,1,154,Jongno 5(o)ga,0.0,0.0,0.0,0.0,241.615385,784.923077,...,3982.230769,4116.307692,4885.692308,5436.384615,2831.461538,1797.692308,1690.615385,1209.692308,487.384615,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924,Wednesday,8,2824,Dandaeogeori,0.0,0.0,0.0,0.0,461.230769,1108.076923,...,1214.384615,1573.692308,2024.076923,3122.153846,2062.615385,1159.538462,1014.923077,943.846154,478.692308,0.0
1925,Wednesday,8,2825,Sinheung,0.0,0.0,0.0,0.0,167.461538,401.538462,...,616.384615,741.461538,864.769231,1164.384615,846.384615,528.076923,422.692308,358.615385,209.923077,0.0
1926,Wednesday,8,2826,Sujin,0.0,0.0,0.0,0.0,192.769231,408.923077,...,630.000000,869.692308,753.384615,1015.461538,704.384615,452.692308,423.230769,337.846154,196.615385,0.0
1927,Wednesday,8,2827,Moran,0.0,0.0,0.0,0.0,122.076923,252.461538,...,649.692308,836.461538,751.230769,915.923077,506.307692,315.000000,290.153846,237.000000,151.923077,0.0
1928,Wednesday,8,2828,Namwirye,0.0,0.0,0.0,0.0,87.076923,421.076923,...,676.923077,887.615385,1265.384615,1882.076923,1108.230769,653.076923,642.384615,562.384615,290.846154,0.0

In [33]:
sys.path.append('/Users/victor/code/Arizona3000/metro_seoul/metro_app/ml_logic')

In [34]:
from preprocess import general_preprocessing

In [35]:
df = general_preprocessing(df)

/Users/victor/code/Arizona3000/metro_seoul/metro_app/ml_logic/preprocess.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'])
/Users/victor/code/Arizona3000/metro_seoul/metro_app/ml_logic/preprocess.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['line'] = df['line'].astype('int')

In [36]:
df['day'] = df['date'].dt.day_name()

In [37]:
df.columns

Index(['date', 'line', 'station_number', 'station_name', 'entry/exit', '01',
       '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       'day'],
      dtype='object')

In [38]:
df = df.groupby(['date', 'line', 'station_number', 'station_name'])[['01',
       '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24']].sum().reset_index()

In [39]:
df

,date,line,station_number,station_name,01,02,03,04,05,06,...,15,16,17,18,19,20,21,22,23,24
0,2020-01-01,1,150,Seoul Station,0,0,0,0,591,1232,...,5258,5548,5603,4924,4553,3931,3704,2598,1413,0
1,2020-01-01,1,151,City Hall,0,0,0,0,186,341,...,1758,1802,2083,1985,1706,1354,1264,746,366,0
2,2020-01-01,1,152,Jonggak,0,0,0,0,869,557,...,3246,3198,3242,3011,2552,2500,2144,1484,552,0
3,2020-01-01,1,153,Jongno 3(sam)ga,0,0,0,0,391,336,...,3229,2972,2826,2198,1713,1423,1241,948,460,0
4,2020-01-01,1,154,Jongno 5(o)ga,0,0,0,0,82,174,...,2547,2572,2263,1581,1281,1087,807,497,212,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352167,2023-06-30,8,2824,Dandaeogeori,0,0,0,0,441,1036,...,1106,1492,1872,2844,1997,1030,927,966,564,0
352168,2023-06-30,8,2825,Sinheung,0,0,0,0,164,350,...,653,901,911,1194,856,508,461,373,274,0
352169,2023-06-30,8,2826,Sujin,0,0,0,0,182,368,...,611,822,837,918,659,475,416,332,278,0
352170,2023-06-30,8,2827,Moran,0,0,0,0,116,236,...,570,731,699,972,544,370,341,301,233,0
352171,2023-06-30,8,2828,Namwirye,0,0,0,0,92,366,...,682,1042,1406,1810,1184,605,648,590,406,0

In [40]:
df['day'] = df['date'].dt.day_name()

In [42]:
df = df[df['date']>'2023-03-31']

In [44]:
df = df.groupby(['day', 'line', 'station_number', 'station_name'])[['01',
       '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24']].mean().reset_index()

In [45]:
df

,day,line,station_number,station_name,01,02,03,04,05,06,...,15,16,17,18,19,20,21,22,23,24
0,Friday,1,150,Seoul Station,0.0,0.0,0.0,0.0,660.230769,2436.615385,...,6865.153846,7878.923077,10919.000000,13399.538462,7540.923077,5127.923077,5112.615385,3889.769231,1876.615385,0.0
1,Friday,1,151,City Hall,0.0,0.0,0.0,0.0,259.384615,1012.076923,...,3181.769231,3457.461538,4862.384615,7711.615385,2823.538462,2162.615385,2087.230769,1547.538462,641.769231,0.0
2,Friday,1,152,Jonggak,0.0,0.0,0.0,0.0,351.307692,1238.230769,...,3945.153846,4699.076923,8103.538462,10977.615385,4672.384615,3200.769231,3472.538462,2957.384615,1654.076923,0.0
3,Friday,1,153,Jongno 3(sam)ga,0.0,0.0,0.0,0.0,278.538462,581.769231,...,4031.923077,4171.692308,4903.076923,5856.769231,3309.923077,2399.846154,2544.000000,2234.615385,1239.307692,0.0
4,Friday,1,154,Jongno 5(o)ga,0.0,0.0,0.0,0.0,241.615385,784.923077,...,3982.230769,4116.307692,4885.692308,5436.384615,2831.461538,1797.692308,1690.615385,1209.692308,487.384615,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924,Wednesday,8,2824,Dandaeogeori,0.0,0.0,0.0,0.0,461.230769,1108.076923,...,1214.384615,1573.692308,2024.076923,3122.153846,2062.615385,1159.538462,1014.923077,943.846154,478.692308,0.0
1925,Wednesday,8,2825,Sinheung,0.0,0.0,0.0,0.0,167.461538,401.538462,...,616.384615,741.461538,864.769231,1164.384615,846.384615,528.076923,422.692308,358.615385,209.923077,0.0
1926,Wednesday,8,2826,Sujin,0.0,0.0,0.0,0.0,192.769231,408.923077,...,630.000000,869.692308,753.384615,1015.461538,704.384615,452.692308,423.230769,337.846154,196.615385,0.0
1927,Wednesday,8,2827,Moran,0.0,0.0,0.0,0.0,122.076923,252.461538,...,649.692308,836.461538,751.230769,915.923077,506.307692,315.000000,290.153846,237.000000,151.923077,0.0
1928,Wednesday,8,2828,Namwirye,0.0,0.0,0.0,0.0,87.076923,421.076923,...,676.923077,887.615385,1265.384615,1882.076923,1108.230769,653.076923,642.384615,562.384615,290.846154,0.0